/* fire animations */
.fire_animation {
  transform-origin:center bottom;
  animation-name: fire_animation_kf;
  animation-duration:2s;
  /* animation-delay:200ms; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes fire_animation_kf {
  0%   {
    transform: skew(1deg);
  }
  20%  {
    transform: skew(1deg);
  }
  40%  {
    transform: skew(-1deg);
  }
  60%  {
    transform: skew(1deg) scaleY(1.02);
  }
  80%  {
    transform: skew(-1deg) scaleY(0.98);
  }
  100% {
    transform: skew(1deg);
  }
}

.fire_animation_1 {
  transform-origin:center bottom;
  animation-name: fire_animation_1_kf;
  animation-duration:2.5s;
  /* animation-delay:200ms; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes fire_animation_1_kf {
  0%   {
    transform: skew(-1deg);
  }
  20%  {
    transform: skew(-1deg);
  }
  40%  {
    transform: skew(1deg);
  }
  60%  {
    transform: skew(1deg) scaleY(0.95);
  }
  80%  {
    transform: skew(-1deg) scaleY(1.1);
  }
  100% {
    transform: skew(1deg);
  }
}

.fire_animation_2 {
  transform-origin:center bottom;
  animation-name: fire_animation_2_kf;
  animation-duration:3s;
  /* animation-delay:200ms; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes fire_animation_2_kf {
  0%   {
    transform: skew(3deg);
  }
  20%  {
    transform: skew(-2deg);
  }
  40%  {
    transform: skew(1deg);
  }
  60%  {
    transform: skew(-2deg) scaleY(0.97);
  }
  80%  {
    transform: skew(-1deg) scaleY(1.15);
  }
  100% {
    transform: skew(2deg);
  }
}




/* fall & pause & disappear aniations */
@keyframes fall_kf {
  from {
      transform: translateY(-13vw); 
  }
  to {
      transform: translateY(20vw);
  } 
}
@keyframes fade_out_kf {
  from {
    opacity: 1;
   }
  to {
    opacity: 0;
    }
}
@keyframes fade_in_kf {
  from {
    opacity: 0;
   }
  to {
    opacity: 1;
    }
} 


.fall_waterdrop_1 {
  animation: fall_kf 3s 1 linear forwards,
             fade_out_kf 0.3s 2.8s 1 linear forwards;
}
.fall_waterdrop_2 {
  animation: fall_kf 3s 1s 1 linear both,
             fade_out_kf 0.3s 3.8s 1 linear forwards;
}
.fall_heart {
  animation: fall_kf 2s 2s 1 linear both,
             fade_out_kf 0.3s 4s linear forwards;
}
.fall_firedrop_1 {
  animation: fall_kf 2s 1 linear forwards;
}
.fall_firedrop_2 {
  animation: fall_kf 2s 1.5s 1 linear both;
}

.disappear {
  animation: fade_out_kf 0.2s 1 linear forwards;
}
.pause {
  animation-play-state: paused;
}

.flash {
  animation: fade_in_kf 2s 1 linear forwards,
             fade_out_kf 2s 1 linear forwards;
}



/* mouth opening animation */
/* .mouth_open {
  animation: mouth_open_kf 2s 10s 1 linear forwards;
} */
