
@keyframes fall_kf {
  from {
      transform: translateY(-13vw); 
  }
  to {
      transform: translateY(20vw);
  } 
  /* 0% {
    transform: translateY(-13vw);
  }
  98% {
    transform: translateY(20vw);
    opacity: 1;
  }
  100% {
    transform: translateY(25vw);
    opacity: 0;
  } */
}
@keyframes fade_out_kf {
  from {
    /* transform: translateY(20vw); */
    opacity: 1;
   }
  to {
    /* transform: translateY(20vw); */
    opacity: 0;
    }
}
@keyframes fade_in_kf {
  from {
    opacity: 0;
   }
  to {
    opacity: 1;
    }
} 


.fall_waterdrop_1 {
  animation: fall_kf 3s 1 linear forwards,
             fade_out_kf 0.3s 2.8s 1 linear forwards;
}
.fall_waterdrop_2 {
  animation: fall_kf 3s 1s 1 linear both,
             fade_out_kf 0.3s 3.8s 1 linear forwards;
}
.fall_heart {
  animation: fall_kf 2s 2s 1 linear both,
             fade_out_kf 0.3s 4s linear forwards;
}
.fall_firedrop_1 {
  animation: fall_kf 2s 1 linear forwards;
}
.fall_firedrop_2 {
  animation: fall_kf 2s 1.5s 1 linear both;
}

.disappear {
  animation: fade_out_kf 0.2s 1 linear forwards;
}
.pause {
  animation-play-state: paused;
}

.flash {
  animation: fade_in_kf 2s 1 linear forwards,
             fade_out_kf 2s 1 linear forwards;
}

