@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  font-size: 1.2vw;
  margin: 0;
  /* background-color: #d4c5ed; */
  background-color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
  color: #391e62;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

a {
  text-decoration: none;
  color: #391e62;
}
a:hover {
  color: #6736b0;
}

section, h1 {
  width: 60vw;
  margin: auto;
  margin-top: 5vw;
}

.active {
  color: #a31f00;
  font-weight: bold;
}

@media only screen and (max-width: 899px) {
  body {
    margin: 2vw;
    font-size: 2vw;
  }
  section, h1 {
    width: 100%;
    /* margin: auto; */
    margin-top: 5vw;
  }
}
