@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-size: 1.5vw;
  /* width: calc(100vh / 9 * 16);
  height: 100vh; */
  margin: 0;
  background-color: #aa8adb;
  font-family: 'Raleway', Helvetica, sans-serif;
  color: #391e62;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

a {
  text-decoration: none;
  color: #391e62;
}
a:hover {
  color: #6736b0;
}

main {
  display: grid;
  grid-template-areas: "game info";
  column-gap: 3vw;
  grid-template-columns: 80% 1fr;
  margin-left: 2vw;
}

#game_screen {
  grid-area: game;
  height: 43vw;
}
aside {
  grid-area: info;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2vw;
}

/* footer {
  background-color: blueviolet;
} */

/* footer > ul {
  margin: 0;
} */

 #game {
  position: relative;
} 

#game_background {
  background-image: url('../images/game_background.svg');
  background-size: 100%;
  width: 80vw;
  height: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}

#kittens_mouth {
  background-image: url('../images/kitten_mouth.svg');
  background-size: 100%;
  position: absolute;
  width: 1vw;
  height: 1.5vw;
}
.pos1 {
  left: 56.5vw;
  top: 19.7vw;
}

/* #mouth_fill {
  background-image: url('../images/mouth_fill.svg');
  background-size: 100%;
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
}
.pos25 {
  left: 56.65vw;
  top: 20.8vw;
} */

#fire {
  background-image: url('../images/fire_big.svg');
  background-size: 100%;
  position: absolute;
  width: 8.5vw;
  height: 9vw;
  filter: blur(0.05vw); 
}
.pos2 {
  left: 15vw;
  top: 30vw;
}

.sprite1 {
  background-image: url('../images/firedrop.svg');
  background-size: 100%;
  position: absolute;
  width: 6vw;
  height: 6vw;
  z-index: 1;
  filter: blur(0.05vw); 
}
.pos3 {
  left: 27vw;
  top: 14vw;
}
.pos4 {
  left: 40vw;
  top: 14vw;
}
.pos26 {
  left: 30vw;
  top: 14vw;
}
.pos27 {
  left: 23vw;
  top: 14vw;
}

.sprite2 {
  background-image: url('../images/waterdrop_big.svg');
  background-size: 100%;
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 1;
}
.pos5 {
  left: 33vw;
  top: 14vw;
}
.pos6 {
  left: 43vw;
  top: 14vw;
}

.sprite5 {
  background-image: url('../images/heart_big.svg');
  background-size: 100%;
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 1;
}
.pos21 {
  top: 14vw;
  left: 30vw;
}

#game_foreground {
  background-image: url('../images/foreground.svg');
  background-size: 100%;
  position: absolute;
  width: 82vw;
  height: 10vw;
  margin: 0;
  top: -0.5vw;
  left: -1vw;
}


#score_waterdrop {
  background-image: url('../images/waterdrop_ui.svg');
  background-size: 100%;
  position: absolute;
  top: 1.5vw;
  left: 62vw;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
}
#score_number {
  font-family: 'Tangerine', cursive, sans-serif ;
  position: absolute;
  top: 1vw;
  left: 60vw;
  font-size: 3vw;
}

.sprite3 {
  background-image: url('../images/heart_ui.svg');
  background-size: 100%;
  position: absolute;
  width: 3.2vw;
  height: 3vw;
  
}
.pos8 {
  top: 1.5vw;
  left: 2vw;
}
.pos9 {
  top: 1.5vw;
  left: 5.5vw;
}

.sprite4 {
  background-image: url('../images/heart_ui_empty.svg');
  background-size: 100%;
  position: absolute;
  width: 3.2vw;
  height: 3vw;
}
.pos10 {
  top: 1.5vw;
  left: 9vw;
}

#time_background {
  background-image: url('../images/timebar_background.svg');
  background-size: 100%;
  position: absolute;
  width: 22.5vw;
  height: 4vw;
}
.pos11 {
  top: 1.55vw;
  left: 30vw;
}
#time_foreground {
  background-image: url('../images/timebar_foreground.svg');
  background-size: 100%;
  position: absolute;
  width: 30vw;
  height: 3vw;
  top: 1.9vw;
  left: 22.5vw;
}

#settings {
  background-image: url('../images/settings.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 2.7vw;
  top: 1.5vw;
  left: 76vw;
}

#settings_clicked {  
  background-image: url('../images/settings_open_bg.svg');
  background-size: 100%; 
  position: absolute;
  width: 19vw;
  height: 5vw;
  background-repeat: no-repeat;
  /* z-index: 5; */
}
.pos13 {
  top: 4vw;
  left: 60vw;
}

#pause {
  background-image: url('../images/pause_icon.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos14 {
  top: 5.5vw;
  left: 60.5vw;
}

#play {
  background-image: url('../images/play_icon.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos15 {
  top: 5.5vw;
  left: 63.5vw;
}

#restart {
  background-image: url('../images/restart_icon.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos16 {
  top: 5.5vw;
  left: 66.5vw;
}

#exit {
  background-image: url('../images/exit_icon.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos17 {
  top: 5.5vw;
  left: 69.5vw;
}

#sound {
  background-image: url('../images/sound.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos18 {
  top: 5.5vw;
  left: 72.5vw;
}

#no_sound {
  background-image: url('../images/no_sound.svg');
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
}
.pos19 {
  top: 5.5vw;
  left: 75.5vw;
}

.plus_waterdrop {
  background-image: url('../images/plus_waterdrop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 2.1vw;
  height: 2.55vw;
  opacity: 0; 
}
.pos22 {
  top: 13vw;
  left: 54vw;
}

.plus_heart {
  background-image: url('../images/plus_heart.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
  opacity: 0;
}
.pos23 {
  top: 13vw;
  left: 57vw;
}

.minus_heart {
  background-image: url('../images/minus_heart.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 3vw;
  height: 3vw;
  opacity: 0; 
}
.pos24 {
  top: 11vw;
  left: 55vw;
}


 
 .hidden {
  visibility: hidden;
}  

main {
  position: relative;
}

#title_screen {
  background-image: url('../images/start_screen.svg');
  background-size: 100%;
  width: 80vw;
  height: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}
#title_screen div {
  background-image: url('../images/button_play.svg');
  background-size: 100%;
}

#instructions {
  background-image: url('../images/instructions_screen.svg');
  background-size: 100%;
  width: 80vw;
  height: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}

#instructions div {
  background-image: url('../images/instructions_arrow_icon.svg');
  background-size: 100%;
  width: 6vw;
  height: 6vw;
  position: absolute;
}
.pos20 {
  top: 33vw;
  left: 53vw;
}

#game_over {
  background-image: url('../images/game_over_screen.svg');
  background-size: 100%;
  width: 80vw;
  height: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}
#game_over div {
  background-image: url('../images/button_try_again.svg');
  background-size: 100%;
}

#level_complete {
  background-image: url('../images/level_complete.svg');
  background-size: 100%;
  width: 80vw;
  height: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}
#level_complete div {
  background-image: url('../images/button_next_level.svg');
  background-size: 100%;
}

.pos12 {
  width: 35vw;
  height: 7vw;
  position: absolute;
  top: 30vw;
  left: 25vw;
  z-index: 1;
}